.container-menu {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 15px 0 #0a0a0a9f;
  color: #000000;
  font-weight: 800;
  z-index: 1;
  width: 275px;
  padding: 0;
  border-radius: 15px;
  position: relative;
  padding-top: 10px;
}

.container-menu::before {
  content: "";
  position: absolute;
  top: -0.6rem;
  right: 1.2rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: rgb(255, 255, 255);
  border-left: 1px solid white;
  border-top: 1px soid white;
}

.course-menu-item {
  border-bottom: none;
  box-shadow: none;
  color: #333;
  display: block;
  font-size: 100%;
  padding-left: 10px;
  padding-top: 6px;
  position: relative;
}

.course-menu-item:hover {
  transform: scale(1.01);
  background: linear-gradient(90deg,#e28b20,#ff7700db);
  border-radius: 10px;
  cursor: pointer;
}

.item-name {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}

.hr-underline-course-nav {
  padding: 0;
  margin: 0;
  width: 70%;
  margin-left: 30px;
}

.dropdown-menu-item {
  display: none;
  position: absolute;
  top: 0;
  left: 15.6rem;
}

.course-menu-item:hover .dropdown-menu-item {
  display: block;
  position: absolute;
}
