@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

.hr-underline {
  width: 90%;
  margin: 0 auto;
  border: 2px solid #fff;
  margin-bottom: 1rem;
}

.course-log-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.course-log-title-h4 {
  background: linear-gradient(270deg, #1e0b04, #ff7700db);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-family: "Cinzel", serif;
}

.course-log-title-h4 h4 {
  color: #fff;
  margin: 0;
  font-weight: 700;
}

.course-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 2rem;
  justify-content: flex-start;
}

.course-card-item {
  flex: 1 1 250px;
  max-width: 300px;
  cursor: pointer;
}

@media (max-width: 768px) { 
  .course-log-title {
    margin-left: 8px;
    width: 100%;
  }
  .course-log-title-h4 {
    background: transparent;
  }
  .course-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
    scrollbar-width: none; /* hides scrollbar on Firefox */
  }

  .course-cards::-webkit-scrollbar {
    display: none; /* hides scrollbar on Chrome, Safari */
  }

  .course-card-item {
    flex: 0 0 auto; /* Prevent cards from shrinking */
    width: 250px; /* Fixed width for consistent scroll */
    max-width: none;
  }
}
