@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&display=swap");

.forgetpassword_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.forgetpassword_header .forgetpassword_logo {
  font-size: 1.7em;
  color: #fff;
  text-decoration: none;
  font-family: "Cinzel", serif;
}

.forgetpassword_nav a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  font-family: "Courier New", Courier, monospace;
}

.forgetpassword_nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #ff9900;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.5s;
}

.forgetpassword_nav a:hover::after {
  transform: scaleX(1);
}

.forgetpassword_home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 80px 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgetpassword_home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("img3.jpg") no-repeat center center/cover;
  filter: blur(5px);
  z-index: -1;
}

.forgetpassword_home .forgetpassword_content {
  max-width: 600px;
  color: #fff;
}

.forgetpassword_content h3 {
  font-size: 1.6em;
  letter-spacing: 0.03em;
  font-family: "Cinzel", serif;
  z-index: 1;
}
.forgetpassword_content p {
  margin: 10px 0 40px;
  font-family: "Courier New", Courier, monospace;
}

.forgetpassword_content a {
  background: linear-gradient(90deg, #e28b20, #ff7700db);
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  font-weight: 500;
  padding: 10px 40px;
  border-radius: 40px;
  transition: 0.5s;
  font-family: "Courier New", Courier, monospace;
}

.forgetpassword_content a:hover {
  background: transparent;
}

.forgetpassword_home .forgetpassword_wrapper_login {
  position: relative;
  width: 440px;
}

.forgetpassword_wrapper_login h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  font-family: "Cinzel", serif;
}

.forgetpassword_wrapper_login h4 {
  font-size: 1em;
  color: #fff;
  text-align: center;
  font-family: "Cinzel", serif;
}

.forgetpassword_wrapper_login .forgetpassword_input_box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 40px 0;
  font-family: "Courier New", Courier, monospace;
}

.forgetpassword_input_box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1ps solid #fff;
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  color: #fff;
  padding: 0 25px 0 45px;
  font-family: "Courier New", Courier, monospace;
}

.forgetpassword_input_box label {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  font-family: "Courier New", Courier, monospace;
}

.forgetpassword_input_box input:focus ~ label,
.forgetpassword_input_box input:valid ~ label {
  font-size: 0.8em;
  top: -14px;
  left: 17px;
}

.forgetpassword_input_box .forgetpassword_icon {
  position: absolute;
  font-size: 1.2em;
  top: 14px;
  color: #fff;
  left: 15px;
}

.forgetpassword_wrapper_login .forgetpassword_btn {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  background: linear-gradient(to right, #ff9900, #ff6600);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 1.4em;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.forgetpassword_wrapper_login .forgetpassword_register_link {
  font-size: 1em;
  color: #fff;
  text-align: center;
  margin: 30px 0;
  font-family: "Courier New", Courier, monospace;
}

.forgetpassword_register_link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.forgetpassword_register_link p a:hover {
  text-decoration: underline;
}

.forgetpassword_content,
.forgetpassword_wrapper_login {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Sidebar styles */
.login_menu_icon {
  display: none;
  font-size: 30px;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  transition: right 0.3s ease;
  z-index: 999;
}

.sidebar.active {
  right: 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  margin: 15px 0;
  font-family: "Courier New", Courier, monospace;
}

.close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .login_menu_icon {
    margin-top:4%;
    display: block;
  }

  .forgetpassword_home {
    flex-direction: column;
    padding: 100px 40px 40px;
    height: auto;
  }

  .forgetpassword_wrapper_login {
    width: 100%;
    margin-top: 40px;
  }

  .forgetpassword_content {
    display: none;
  }

  .forgetpassword_header {
    padding: 20px 40px;
  }

  .forgetpassword_nav a {
    margin-left: 20px;
    font-size: 1em;
  }

  .forgetpassword_wrapper_login h2 {
    font-size: 1.7em;
  }

  .forgetpassword_wrapper_login h4 {
    font-size: 0.95em;
  }
}

@media (max-width: 768px) {
  .forgetpassword_home {
    position: relative;
    top: 50%;
    background: transparent;
  }
  .forgetpassword_nav {
    display: none; /* Hide nav for mobile */
  }

  .forgetpassword_wrapper_login {
    padding: 0 10px;
  }
  .forgetpassword_wrapper_login h2 {
    margin-top: 100px;
  }

  .forgetpassword_input_box input {
    font-size: 0.95em;
    padding: 0 20px 0 40px;
    width: 70%;
    position: relative;
    left: 15%;
  }

  .forgetpassword_input_box label {
    font-size: 0.9em;
    left: 25%;
  }

  .forgetpassword_input_box input:focus ~ label,
  .forgetpassword_input_box input:valid ~ label {
    left: 20%;
  }

  .forgetpassword_input_box .forgetpassword_icon {
    font-size: 1em;
    top: 16px;
    left: 20%;
  }

  .forgetpassword_wrapper_login .forgetpassword_btn {
    font-size: 1.2em;
    width: 68%;
    position: relative;
    left: 16%;
    background: linear-gradient(to right, #ff9900, #ff6600);
  }

  .forgetpassword_register_link {
    font-size: 0.9em;
  }
}
